<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1081655162898-81452ds3fcslo90npuib7ca40t7i8l1q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1081655162898-81452ds3fcslo90npuib7ca40t7i8l1q</string>
	<key>API_KEY</key>
	<string>AIzaSyAPnsqzSB0LMLxpSPkkSN8ljq1VDhcXWFA</string>
	<key>GCM_SENDER_ID</key>
	<string>1081655162898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daxapps.PushMyNotifs</string>
	<key>PROJECT_ID</key>
	<string>pushmynotifs-13bde</string>
	<key>STORAGE_BUCKET</key>
	<string>pushmynotifs-13bde.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1081655162898:ios:3e8a5065608fd8be</string>
	<key>DATABASE_URL</key>
	<string>https://pushmynotifs-13bde.firebaseio.com</string>
</dict>
</plist>